
@media all and (max-width: 480px) {
    #mainpage{
        display:none;
        height: 0px; 
    }
    #wrapper{
        background-color: #bdbdbd;
    }
}

body {
padding: 50px;
background-color: #bdbdbd;
font-weight: bold;
}

#name, #intro,#cando,#contact {
text-align: center;
}

#name,#intro{
font-family: 'Chango', cursive;
}

#intro{
font-size: 1.5em;
margin-top: 50px;
}

#name{
color: #CC9999;
font-size: 2em;
}

#para, #cando, #contact{
font-family: 'Rufina', serif;
letter-spacing:0.5px;
}